{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    body {
        background-image: url("../media/background_archimedean.jpg");
    }
</style>
    <h2>IDOL Home page</h2>
    <p>Welcome to <b>I</b>nteractive-<b>D</b>emonstrating multiobjective <b>O</b>ptimization p<b>L</b>atform, {% if user.is_authenticated %}<b>{{ user.username }}</b>{% else %} <b>visitor</b> {% endif %}!!!</p>
    <p>
        <strong>Total users registered: </strong> {{ count }}
    </p>
{% endblock %}