{% extends 'base.html' %}

{% load static %}
{% block content %}
<style type="text/css">
    .bgimg {
        display: block;
        text-align: center;
        padding-top: 20%;
    }
    img {
        max-width: 25%;
        height: auto;
    }   
</style>
<h2>IDOL Home page</h2>
<p>Welcome to <b>I</b>nteractive-<b>D</b>emonstrating multiobjective <b>O</b>ptimization p<b>L</b>atform, {% if user.is_authenticated %}<b>{{ user.username }}</b>{% else %} <b>visitor</b> {% endif %}!!!</p>
<p>
    <strong>Total users registered: </strong> {{ count }}
</p>
<h3>    
    <a target="_blank" href="{% get_media_prefix %}IDOL V1.0 User Guide.pdf">IDOL V1.0 User Guide</a>
</h3>
<div class="bgimg">
    <img src="{% get_media_prefix %}background.jpg">
</div>
<p>Copyrights &copy; 2021 Department of Decision Support in the Presence of Risk SRI PAS</p>
{% endblock %}