{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>Problem information</h2>

  <table class="table mb-0">
    <thead>
      <tr>
          <th>Title</th>
          <th>Objectives</th>
          <th>Weights</th>
          <th></th>
          <th>Reference point</th>
          <th></th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
            <form method="post" action="{% url 'upload_weights' problem.pk%}">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Upload Weights</button>
            </form>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </table>
{% endblock %}