{% extends 'base.html' %}

{% block content %}
  <h2>Problem information</h2>

  <table class="table mb-0">
    <thead>
      <tr>
          <th>Title</th>
          <th>Objectives</th>
          <th>Weights</th>
          <th></th>
          <th>Reference point</th>
          <th></th>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </table>
{% endblock %}