{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2> {{user.username}} Problems</h2>

  <p>
    <a href="{% url 'upload_user_problem_parameters' %}" class="btn btn-primary">Upload problem</a>
  </p>

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Input LP</th>
        <th>Submit</th>
        <th>Update</th>
        <th>Weights</th>
        <th>Y</th>
        <th>Chebyshev</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in problems %}
        <tr>
          <td>{{ problem.id }}</td>
          <td>
          <a class="btn btn-link" href="{{ problem.lp.url }}">{{ problem.file_name }}</a>
          </td>
          <td>
            <form method="post" action="{% url 'submit_user_problem' problem.pk %}">
              {% csrf_token %}
              {{ user_maxgap_form|crispy }}    
              <div style="display: inline-block"><button type="submit" class="btn btn-primary btn-sm">Make Chebyshev</button></div>
            </form>
          </td>
          <td>
            <a href="{% url 'update_user_problem' problem.pk%}" class="btn btn-primary btn-sm">Update problem</a>
          </td>
          <td>
            {% if problem.parameters.first.weights %}
              <a class="btn btn-link" target="_blank" href="{{ problem.parameters.first.weights.url }}"> + </a>
            {% else %}
              <a class="btn btn-link"> - </a>
            {% endif %}
          </td>
          <td>
            {% if problem.parameters.first.reference %}
              <a class="btn btn-link" target="_blank" href="{{ problem.parameters.first.reference.url }}"> + </a>
            {% else %}
              <a class="btn btn-link"> - </a>
            {% endif %}
          </td>
          <td>
            <form method="post" action="{% url 'user_download_zip' problem.pk %}">
              {% csrf_token %}
              <button id="download-ch-user-{{problem.pk}}" 
                style="{% if problem.chebyshev.last and problem.task_status == 'SUCCESS' %} visibility:visible; {% else %} visibility:hidden; {% endif %}"
                type="submit"
                class="btn btn-dark btn-sm">Download Zip</button>
            </form>
          
          </td>
          <td>
            {% if problem.task_status %}
              <a id="process-raw-data-user-{{problem.pk}}">{{problem.task_status}}</a>
            {% else %}
              <a id="process-raw-data-user-{{problem.pk}}">NOT SUBMITTED</a>
            {% endif %}
          </td>
          <td>
            <form method="post" action="{% url 'delete_user_problem' problem.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}